.like-page {
  padding: 20px;
  background-color: #f1f1f1;
  min-height: 100vh;
  color: #000;
}

.like-page h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
}

.like-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background: #fff;
  border-left: 6px solid #F2C300;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.like-item img {
  border-radius: 5px;
  border: 2px solid #F2C300;
}

.like-item p {
  margin: 0;
  font-weight: 500;
  color: #000;
}

.like-item button {
  margin-left: auto;
  padding: 8px 15px;
  border: none;
  background-color: #F2C300;
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.like-item button:hover {
  background-color: #e0b100;
}
