/* ===== HEADER ===== */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px 40px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1); /* shaffof oq fon */
  backdrop-filter: blur(10px);           /* orqa rasmni xira qiladi */
  -webkit-backdrop-filter: blur(10px);   /* Safari uchun */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

/* Logo */
.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #F2C300;
  text-shadow: 0 0 10px rgba(242,195,0,0.6);
  cursor: pointer;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  color:
}

/* Header Right */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Search */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search {
  padding: 12px 40px 12px 14px; /* o'ng tomonda icon uchun joy */
  border-radius: 25px;
  border: 2px solid #F2C300;
  outline: none;
  background: transparent;
  color: #fff;
  transition: all 0.3s ease;
  width: 280px;
}

.search-container input {
  font-size: 18px;
  width: 100%;
  height: 47px;
}

.search:focus {
  background: #111;
  box-shadow: 0 0 10px #F2C300;
}

/* Icon input ichida */
.search-container .icon {
  position: absolute;
  right: 14px;
  font-size: 1.6rem;
  color: #F2C300;
  pointer-events: none;
}

/* Search results */
.search-results {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  max-width: 365px;
  background: #1c1c1c;
  border: 1px solid #F2C300;
  border-radius: 20px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 8px 30px rgba(242, 195, 0, 0.3);
}

.search-results h3 {
  margin: 5px 0 10px 0;
  font-size: 1.5rem;
  color: #F2C300;
  border-bottom: 1px solid #F2C300;
  padding-bottom: 5px;
  font-family: 'dancing-script', cursive;
}

.search-results li {
  list-style: none;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.search-item{
  display: flex;
  justify-content: space-between;
  padding: 2px 4px;
  font-size: 20px;
  font-family: 'dancing-script', cursive;
}

.search-results li:hover {
  transform: scale(1.02);
}

.search-results a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.search-results img {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid #F2C300;
  object-fit: cover;
}

/* Iconlar */
.icon {
  font-size: 1.5rem;
  color: #F2C300;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background: none;
  border: none;
  border-radius: 20px;
}

.icon:hover {
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

/* Cart soni */
.icon span {
  position: absolute;
  top: -8px;
  right: -12px;
  background: #00f7ff;
  color: #000;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  box-shadow: 0 0 10px #00f7ff;
}
.navbar-icons{
  display: flex;
  align-items: center;
  gap: 15px;

  button{
  box-shadow: 0 3px 10px rgba(242, 195, 0, 0.3);
  padding: 10px 20px;
  }
}


/* ===== MEDIA QUERIES ===== */


/* 360px */
@media (max-width: 576px)   {
  .header{
    flex-direction: column;
    gap: 10px;
  }
  .search-container input {
    width: 250px;
  }
  .header-right{
    flex-direction: column;
    gap: 20px;
  }
  .icon{
    /* font-size: 1.3rem; */
    margin-left: 25px;
  }
}



/* 576px */
@media (min-width: 576px) {
  .header-right{
    display: flex;
  }
}

/* Mobil (katta telefon) */
/* @media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
  }
  .header-right {
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
  .search {
    width: 240px;
  }
  .search-container input {
    width: 120px;
  }
  .search-results {
    max-width: 220px;
  }
} */

/* 768px | Tablets */
@media (min-width: 768px) {

}

/* 992px | Small laptops */
@media (min-width: 992px) {}

/* 1200px | Desktop */
@media (min-width: 1200px) {}

/* 1400px | Large screens */
@media (min-width: 1400px) {}

/* 1600px */
@media (min-width: 1600px) {}

/* 1800px */
@media (min-width: 1800px) {}

/* 2000px */
@media (min-width: 2000px) {}
